<p>heloo</p>

<!--<nav>
   
    <a class ="router-Links" routerLinkActive="active-Links" routerLink="home">Home</a>
    <a class ="router-Links" routerLinkActive="active-Links" routerLink="dashboard">dashboard</a>
    <a class ="router-Links" routerLinkActive="active-Links" routerLink="contact-us">contact-us</a>
    <a class ="router-Links" routerLinkActive="active-Links" routerLink="login">login</a>
    </nav>-->
   
<nav>
    <app-menu-item [DisplayName]="menu"></app-menu-item>
</nav>

<app-image-placeholder [imgurl]="logourl" [width]="'90'" [height]="'90'"></app-image-placeholder>
